  <div class="container"> 	
    <div class="post-list"> 
    <table class="centerTable">
        <thead>
          <tr>
            <th>Id</th>
            <th>Image</th>
            <th>Title</th>
            <th>Status</th>
            <th>Allow Comments</th>
            <th>Date</th>
             <th>View Post</th>
            
          </tr>
        </thead>


<tbody>
 {{#each posts}}
<tr>
  <td scope="row" data-label="post id">{{id}}</td>
  <td data-label="file"><img src="/uploads/{{file}}"alt='image' width='70' height='85'></td>
  <td data-label="title">{{title}}</td>
  <td data-label="status">{{status}}</td>
  <td data-label="allowcomment">{{allowComments}}</td>
   <td data-label="Created">{{generateDate date 'MMMM Do YYYY'}}</td>
   <td data-label="Preview"><a href="/home/post-details/{{id}}">View Post</a></td>

   <td><button><a href="/admin/posts/editpost/{{id}}">Edit</a></button></td>
  <td>
<form action="/admin/posts/{{id}}?_method=DELETE" method="post">
<button type="submit">DELETE</button>
</form>
</td>

</tr>
   {{/each}}

       
        </tbody>
      </table>       
</div>
</div>