<div class="shared-article-page">
<div class="shared-form">


<div class="info-card">
     <img class="profile" src="/assets/images/adm.jpg"><br>
<h4>{{post.title}}</h4><br>
<hr>
<p>{{post.body}}</p> 
<img src="/uploads/{{post.file}}">

<div class="more">
<h5 class="author">Written By {{post.user.username}} <i class="date">{{generateDate date "MMMM Do YYYY"}}</i></h5> 
  <section class="btnlike">
    <a href="#">
    <img src="/assets/fonts/thumbs-up.svg" class="icon"/> <b>110</b>
    </a>
    </section>

     <section class="btnlike">
    <a href="#">
    <img src='/assets/icons/comment.png' class='icon'/><b>150</b>
      </a>
    </section> 
</div> 



<div class="comment">

   {{#if user}}

     {{#if post.allowComments}}
<h4>Add Comment:</h4>
<div class="addcomment">  
  <form action="/admin/comments/all-comments" method="post">
  <input type="hidden" value="{{post.id}}" name="id">  
  <textarea name="body" rows="10" cols="50" placeholder=""  ></textarea><br> 
  <button type="submit"class="commentbtn">Comment</button>
  </form>
</div>
{{else}}
Comments not allowed for this post
  <br>
  <br>         
{{/if}}
 {{else}}
Please <a href="/home/login"><i><u>Login</u></i></a> to be able to write your comment
<br>
<br>
{{/if}}

<!--Display post comments-->
{{#each post.comments}}
 <div class="comment-posted">
  <i class="comment-author">                                        
  <img src="/uploads/{{user.file}}">
   <i>{{user.username}}</i><br>
   <p> {{body}} </p>
</div><br>
 {{/each}}





</div>

</div>





</div>

</div>  