<div class="shared-article-page">
<div class="shared-form">


<div class="info-card">
     <img class="profile" src="/assets/images/adm.jpg"><br>
<h4>{{post.title}}</h4><br>
<hr>
<p>{{post.body}}</p> 
<img src="/uploads/{{post.file}}">

<div class="more">
<h5 class="author">Written By Xavio <i class="date">{{generateDate date "MMMM Do YYYY"}}</i></h5> 
  <section class="btnlike">
    <a href="#">
    <img src="/assets/fonts/thumbs-up.svg" class="icon"/> <b>110</b>
    </a>
    </section>

     <section class="btnlike">
    <a href="#">
    <img src='/assets/icons/comment.png' class='icon'/><b>150</b>
      </a>
    </section> 
</div> 



<div class="comment">
<form action="/admin/comments/all-comments" method="post">
<h4>Add Comment:</h4>
<div class="addcomment">  
  <input type="hidden" value="{{post.id}}" name="id">  
  <textarea name="body" rows="10" cols="50" placeholder=""  ></textarea><br> 
  <button type="submit"class="commentbtn">Comment</button>
</div>
</form> 



 <div class="comment-posted">
  <i class="comment-author">                                        
  <img src="/assets/images/useravt.jpg">
   <i>rock</i><br>
   <p> This is great </p>
</div><br>

 <div class="comment-posted">
  <i class="comment-author">                                        
  <img src="/assets/images/useravt.jpg">
   <i>rock</i><br>
   <p> Awesome</p>
</div><br>



</div>

</div>





</div>

</div>  