  <div class="container"> 	
    <div class="post-list"> 
    <table class="centerTable">
        <thead>
          <tr>
             <th>Id</th>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Username</th>
            <th>Email</th>
            <th>Profile</th>
            <th>user Role</th>
            
          </tr>
        </thead>
        <tbody>
            {{#each users}}
            <tr>
                <td>{{id}}</td>
                <td>{{firstname}}</td>
                <td>{{lastname}}</td>
                <td>{{username}}</td>
                <td>{{email}}</td>
                <td><img height="50" class="img-responsive" src="/uploads/{{file}}" alt="profile"></td>
                <td>{{userRole}}</td>
                 <td><button><a href="/admin/users/changeRole/{{id}}">Change Role</a></button></td>
                <td>
                <form action="/admin/users/{{id}}?_method=DELETE" method="post">
                <button type="submit">DELETE</button>
                </form>
                </td>
                        
              </tr>
            {{/each}}

        </tbody>



      </table>       
</div>
</div>